<!DOCTYPE html>
{% extends "app/base.html" %}
{% block content %}

  <div class="video-container">
    <video autoplay loop muted>
      <source src="../../static/video/jiujitsu.mp4" type="video/mp4">
    </video>
    <div class="video-content">
      Trident Jiu-Jitsu
    </div>
  </div>

  <div id='aboutcontent' class='container'>
    <h1>About us!</h1>
    <h3>Trident Jiu Jitsu is a collaboration between the coastal lifestyle and
        the art and community of Brazilian Jiu Jitsu. Founded from the highest
        pedigree of competition athletes, your world class instruction and
        teaching is guaranteed for you or your child.
    </h3>
  </div>

  <div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- <div class="card-body"> -->
          <img class='image_content' src="../../static/images/adultBJJ.jpg" alt="404">
        <!-- </div> -->
      </div>
    </div>
    <div class="col">
      <div class="card">
        <!-- <div class="card-body"> -->
          <img class='image_content' src="../../static/images/kidBJJ.png" alt="404">
        <!-- </div> -->
      </div>
    </div>
  </div>


  <div class="container">
    <h1>About Joel</h1>
    <h2>11x Black Belt World Champion</h2>
    <h2>Former Navy SEAL</h2>
  </div>




{% endblock %}
