html, body{
  margin: 0;
  color: purple;
}

/* body{
  background-color: white;
} */

.video-container{
  position: relative;
  height: 75vh;
  width: 100vw;
  margin-bottom: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.video-container video{
  z-index: -1;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-content{
  background-color: black;
  color: red;
  padding: 20px;
  font-size: 70px;
  margin-top: 100px;
}

.image_content{
  /* position: relative; */
  width: 50%;
  height: 50%;
  min-width: 100%;
  min-height: 100%;

}

#aboutcontent{
  background-image: url("../../static/images/group_pic.jpg");
  /* border-color: black; */
  /* border-style: dashed; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-bottom: auto;
  padding-top: auto;


}

.contact-footer{
  background-color: black;
   /* width:100%; */
   /* padding: 1%;
   left: 0;
   bottom: 0; */
}



/* .content-me p{
  text-align: center;
  color: white;
} */
